/* Start Universal Style Changes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End Universal Style Changes */

/* Start Header Style */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 45px;
    background-color: #303030;
}
header h1 {
    background-color: #39a6b2;
    padding-left: 100px;
    
}

header h1 a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 45px;
    color: #303030;
    
    
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.55vw;
    color: #39a6b2;
}
/* End Header Style */
/* Start Hero Style */
.hero {
    background-image: url("../images/hero-wood-4666186_1920.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-right: 15px;
}
.hero h2 {
    font-weight: bolder;
    font-size: 25px;
    color: #303030;
    background-color: #39a6b2;
    padding: 15px;
    }
/* End Hero Style */
/* Start Show And Tell */
.sot {
    background-color: lavender;
    padding: 10%;
 }



 .heading {
    display: inline-block;
}


.heading h2 {
    flex: 1;
    border-right: 5px solid black;
    font-size: 45px;
    text-align: right;
    padding-right: 10px;
}
.heading p {
    padding-left: 10px;
}


.left {
    width: 20%;
    background: green;
}
.right {
    width: 60%;
    background: blue;
}
/* End Show And Tell */
